.header{
    z-index: 3;
    position: fixed;
    display: flex;
    align-items: center;
    opacity: 0.8;
    top: 0;
    width:100%;
    height: 10vh;
    background: black;
    box-shadow: inset 0px 10px 15px #000000 ;
}
.nav_links{
    margin-right: 40px;
    color: rgb(226, 220, 220);
    text-decoration: none;
}
.card{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.links{
    display: block;
}
.card img{
    height: 100%;
    width: 100%;
}
.above_poster{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(253, 250, 250,0.7);
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    display: none;
    transition: 0.6s;
    animation: ease-in;
}
.infinite-scroll-component,.search{
    background: black;
    display: grid;
    grid-gap: 8px;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}

.movie_body{
    display: grid;
    position: relative;
    grid-template-columns: repeat(6,1fr);
    height: 100vh;
    width: 100vw;
    grid-gap: 30px;
    /* box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000; */
    /* z-index: 3; */
}
.movie_body:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.movie_poster{
    position: relative;
    grid-column: 1/3;
    overflow: hidden;
    z-index: 2;
}
.movie_poster img{
    height: 100%;
    width: 100%;
}
.movie_details{
    z-index: 2;
    grid-column: 3/7;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}
.movie_title{
    font-weight: 700;
    font-size: 3.5rem;
    margin: 0.1em 0;
}
.movie_genre{
    display: flex;
    flex-direction: row;
}
.genre{
    font-size: 0.7em;
    margin-right: 2em;
    margin-top: 0;
    border: .4px solid white;
    border-radius: 1em;
    padding: 0.2em 0.7em;
    margin-bottom: 2em;
}
.movie_releaseDate{
    font-size: 1em;
    margin-bottom: 1rem;
}

.movie_desc{
    letter-spacing: 1px;
    font-size: 1em;
    margin-top: 1em;
}


a .button {
    background: none;
    outline: none;
}