.card{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.card_poster img{
    height: 100%;
    width: 100%;
}
.above_poster{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(253, 250, 250,0.7);
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    display: none;
    transition: 0.6s;
    animation: ease-in;
}
.trending_section{
    background: black;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}